.banner {
  @include adaptiveDesktopToMobile('height', 455, 185);
  width: 100%;
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $color-default-white;
    margin: 0 19px!important;
  }

  @include vp-767 {
    padding-bottom: 20px;
    .swiper-pagination {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 32px;
      height: 2px;
      border-radius: unset;
      background-color: $color-pink-swan;
      margin: 0 4px!important;
    }
  }
}
.banner__slide {
  position: relative;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @include adaptiveDesktopToMobile('padding', 40, 30);
}
.banner__slide-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.banner__slide-text {
  width: fit-content;
}
.banner__slide-title {
  position: relative;
  font-weight: 700;
  @include adaptiveDesktopToMobile('font-size', 48, 22);
  line-height: 0.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  @include adaptiveDesktopToMobile('margin-bottom', 16, 6);
  @include adaptiveDesktopToMobile('max-width', 700, 140);

  @include vp-767 {
    line-height: 1;
  }
}
.banner__slide-description {
  position: relative;
  background: $color-picton-blue;
  color: $color-default-white;
  border-radius: 10px;
  @include adaptiveDesktopToMobile('font-size', 22, 12);
  line-height: 1.27;
  @include adaptiveDesktopToMobile('max-width', 390, 190);
  @include adaptiveDesktopToMobile('padding', 10, 8);
}