.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-default;
  background-color: $color-picton-blue;
  color: $color-default-white;
  @include adaptiveDesktopToMobile('padding-top', 12, 8);
  @include adaptiveDesktopToMobile('padding-bottom', 12, 8);
  @include adaptiveDesktopToMobile('padding-right', 16, 10);
  @include adaptiveDesktopToMobile('padding-left', 16, 10);
  font-weight: 600;
  @include adaptiveDesktopToMobile('font-size', 18, 13);
  line-height: 0.64;
  letter-spacing: 0.022em;
  transition: opacity $trans-default;
  width: fit-content;

  &:hover {
    opacity: 0.9;
  }

  &--primary {
    background-color: $color-fallow;
    line-height: 1.33;
  }

  &--grey {
    background: $color-pink-swan;
  }
}
