.clients {
}
.clients__title {
  text-align: center;
  margin: 0;
  @include adaptiveDesktopToMobile('margin-top', 80, 30);
  @include adaptiveDesktopToMobile('margin-bottom', 80, 40);
}
.clients__desktop-content {
  display: block;
  margin: 0 auto;
  height: auto;

  @include vp-767 {
    display: none;
  }
}
.clients__contact-form {
  max-width: 730px;
  margin: 0 auto;
  @include adaptiveDesktopToMobile('margin-top', 150, 30);
  @include adaptiveDesktopToMobile('margin-bottom', 90, 40);

  .contact-form__submit {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include vp-767 {
    display: none;
  }
}
.clients__mobile-content {
  display: none;

  @include vp-767 {
    display: block;
  }
}
.clients__list {
  @include reset-list;
}
.clients__list-item {
  text-align: center;
  position: relative;
  padding-bottom: 5px;

  &:not(:last-child) {
    margin-bottom: 84px;
    
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 1px;
      height: 35px;
      background-color: $color-tuna;
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: -65px;
      left: 50%;
      transform: translateX(-50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $color-picton-blue;
    }
  }
}
.clients__list-item-icon {
  margin-bottom: 13px;
}
.clients__list-item-title {
  font-weight: 600;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 5px;
  max-width: 260px;
}
.clients__list-item-description {
  font-size: 14px;
  line-height: 1.29;
  max-width: 260px;
  margin: 0 auto;
}