.use {
  .swiper {
    @include adaptiveDesktopToMobile('margin-top', 20, 0);
  }

  .swiper-navigation__btn {
    top: 15%;
  }

  .more-btn {
    display: none;
  }

  @include vp-767 {
    .swiper {
      max-height: 485px;
      transition: max-height $trans-default;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(360deg, #FFFFFF 5.31%, rgba(255, 255, 255, 0) 100%);
        z-index: 2;
      }
    }

    .swiper-navigation,
    .section__more-link {
      display: none;
    }

    .swiper-wrapper {
      flex-direction: column;
    }

    .more-btn {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }

    &.is-more {
      .swiper {
        max-height: unset;

        &::before {
          display: none;
        }
      }

      .more-btn {
        display: none;
      }
    }
  }
}
.use__slide {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    .use__slide-record {
      background-color: $color-picton-blue;
    }
  }
  
  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 14px;
    margin-bottom: 26px;
  }
}
.use__slide-img-wrapper {
  @include adaptiveDesktopToMobile('height', 172, 96);
  border-radius: $border-radius-default;
  overflow: hidden;

  @include vp-767 {
    grid-row: span 3;
  }
}
.use__slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.use__slide-title {
  font-weight: 600;
  @include adaptiveDesktopToMobile('font-size', 18, 12);
  line-height: 0.94;
  text-align: center;
  margin: 0;
  @include adaptiveDesktopToMobile('margin-top', 20, 4);
  @include adaptiveDesktopToMobile('margin-bottom', 20, 4);
  min-height: 35px;

  @include vp-767 {
    margin: 0;
    text-align: left;
    min-height: unset;
  }
}
.use__slide-description {
  @include adaptiveDesktopToMobile('font-size', 16, 11);
  line-height: 1.03;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  @include adaptiveDesktopToMobile('margin-bottom', 20, 4);

  @include vp-767 {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
.use__slide-record {
  margin: auto auto 0;
  background-color: rgba(72, 78, 91, 0.3);
  transition: background-color $trans-default;

  @include vp-767 {
    margin: 0;
    background-color: $color-picton-blue;
  }
}