<section class="about">
  <div class="container container--inner">
    <p class="paragraph">
      Компания Dr. ЭCТЕТИК TECHNOLOGIES основана профессионалами с более чем 10-летним опытом работы в сфере эстетической косметологии и гинекологии. С 2019 года мы поставляем оборудование и филлеры из Южной Кореи на территории РФ и стран СНГ.<br><br>
      Южная Корея уже шестой год возглавляет рейтинг самых инновационных стран мира по версии Bloomberg. Это стало возможным благодаря технологическому лидерству и инновациям, которые обеспечили товарам корейских компаний репутацию высокотехнологичных и передовых продуктов.<br><br>
      Высокое качество и надежность оборудования, которые представляет Dr. ЭCТЕТИК TECHNOLOGIES, обеспечивается благодаря применению актуальных технологий и использованию комплектующих мировых лидеров отрасли.
    </p>
    <div class="about__photos">
      <img src="img/content/about-1.png" class="about__photo">
      <img src="img/content/about-2.png" class="about__photo">
      <img src="img/content/about-3.png" class="about__photo">
    </div>
    <h3 class="about__list-title">В нашей компании Вас ожидают:</h3>
    <ul class="about__list">
      <li class="about__list-item">Самые трендовые технологии</li>
      <li class="about__list-item">Обучение Ваших специалистов аккредитованными тренерами</li>
      <li class="about__list-item">Оборудование и препараты только с регистрационным удостоверением</li>
      <li class="about__list-item">Техническое обслуживание 24/7 от собственной лицензированной сервисной службы</li>
      <li class="about__list-item">Быстрая окупаемость аппаратов</li>
      <li class="about__list-item">Обширная маркетинговая поддержка</li>
    </ul>
    <p class="paragraph">
      Мы гарантируем высокую эффективность обучения благодаря собственной клинической базе и лицензированной школе, а также сильную маркетинговую поддержку за счет больших ресурсов группы компаний Dr. ЭСТЕТИК.
    </p>
    <div class="about__signature">
      Будем рады сотрудничеству!<br>
      С Уважением,<br>
      Станислав Десятков Директор по продажам ООО “Д-р Эстетик”
    </div>
  </div>
</section>







