<section class="article">
  <div class="container container--inner">
    <h2 class="article__title">Мы провели обучение в Краснодаре</h2>
    <div class="article__date">11.05.2022</div>
    <div class="article__photos">
      <img src="img/content/article.png" class="article__photo">
      <img src="img/content/article.png" class="article__photo">
      <img src="img/content/article.png" class="article__photo">
    </div>
    <div class="article__text">
      Состоялось обучение по работе на аппарате HIPRO для клиники Dr. Эстетик в городе Краснодар. Курс проводит сертифицированный врач Виктория Викторовна Стахурлова.<br><br>  

      Пройдя теоретический блок врачи смогли приступить к очень важной практической части по постановке руки, работе на разных картриджах и оценили собственные результаты первой проведенной процедуры.
      Состоялось обучение по работе на аппарате HIPRO для клиники Dr. Эстетик в городе Краснодар. Курс проводит сертифицированный врач Виктория Викторовна Стахурлова.<br><br>   

      Пройдя теоретический блок врачи смогли приступить к очень важной практической части по постановке руки, работе на разных картриджах и оценили собственные результаты первой проведенной процедуры.
    </div>
  </div>
</section>