<section class="blog blog--inner section">
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item">
        <img src="img/content/blog-1.png" class="blog__item-photo">
        <div class="blog__item-text">
          <h3 class="blog__item-title">Мы провели обучение в Краснодаре</h3>
          <div class="blog__item-date">11.05.2022</div>
          <div class="blog__item-description">
            Состоялось обучение по работе на аппарате HIPRO для клиники Dr. Эстетик в городе Краснодар. Курс проводит сертифицированный врач Виктория Викторовна Стахурлова.<br><br>  
            Пройдя теоретический блок врачи смогли приступить к очень важной практической части по постановке руки, работе на разных картриджах и оценили собственные результаты первой проведенной процедуры.
          </div>
          <a href="#" class="blog__item-more btn">Подробнее</a>
        </div>
      </li>
      <li class="blog__item">
        <img src="img/content/blog-2.png" class="blog__item-photo">
        <div class="blog__item-text">
          <h3 class="blog__item-title">Вебинар "Управление доходностью клиники в сложных экономических условиях"</h3>
          <div class="blog__item-date">29.04.2022</div>
          <div class="blog__item-description">
            26 апреля состоялся вебинар для владельцев клиник, маркетологов и врачей. Мы обсудили важный и актуальный вопрос - как же действовать в сложившихся условиях на рынке эстетической медицины? Какие меры необходимо принять, чтобы эффективно функционировать в текущих условиях. 
            По итогу встречи мы смогли понять как адаптировать бизнес к ситуации на рынке, как сохранить и бизнес и команду и многое многое другое
          </div>
          <a href="#" class="blog__item-more btn">Подробнее</a>
        </div>
      </li>
      <li class="blog__item">
        <img src="img/content/blog-1.png" class="blog__item-photo">
        <div class="blog__item-text">
          <h3 class="blog__item-title">Мы провели обучение в Краснодаре</h3>
          <div class="blog__item-date">11.05.2022</div>
          <div class="blog__item-description">
            Состоялось обучение по работе на аппарате HIPRO для клиники Dr. Эстетик в городе Краснодар. Курс проводит сертифицированный врач Виктория Викторовна Стахурлова.<br><br>  
            Пройдя теоретический блок врачи смогли приступить к очень важной практической части по постановке руки, работе на разных картриджах и оценили собственные результаты первой проведенной процедуры.
          </div>
          <a href="#" class="blog__item-more btn">Подробнее</a>
        </div>
      </li>
      <li class="blog__item">
        <img src="img/content/blog-1.png" class="blog__item-photo">
        <div class="blog__item-text">
          <h3 class="blog__item-title">Вебинар "Управление доходностью клиники в сложных экономических условиях"</h3>
          <div class="blog__item-date">29.04.2022</div>
          <div class="blog__item-description">
            26 апреля состоялся вебинар для владельцев клиник, маркетологов и врачей. Мы обсудили важный и актуальный вопрос - как же действовать в сложившихся условиях на рынке эстетической медицины? Какие меры необходимо принять, чтобы эффективно функционировать в текущих условиях. 
            По итогу встречи мы смогли понять как адаптировать бизнес к ситуации на рынке, как сохранить и бизнес и команду и многое многое другое
          </div>
          <a href="#" class="blog__item-more btn">Подробнее</a>
        </div>
      </li>
    </ul>
  </div>
</section>