<section class="card">
  <div class="container container--inner">
    <div class="card__main">
      <div class="card__sliders">
        <div class="card__preview-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/content/card-slider-4.png" class="card__preview-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-1.png" class="card__preview-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-2.png" class="card__preview-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-3.png" class="card__preview-slider-photo">
            </div>
          </div>
          <div class="swiper-navigation">
            <button class="card__preview-slider-navigation-button card__preview-slider-navigation-button--prev">
              <svg class="card__preview-slider-navigation-button-icon" width="14" height="7">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </button>
            <button class="card__preview-slider-navigation-button card__preview-slider-navigation-button--next">
              <svg class="card__preview-slider-navigation-button-icon" width="14" height="7">
                <use xlink:href="#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="card__main-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="img/content/card-slider-4.png" class="card__main-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-1.png" class="card__main-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-2.png" class="card__main-slider-photo">
            </div>
            <div class="swiper-slide">
              <img src="img/content/card-slider-3.png" class="card__main-slider-photo">
            </div>
          </div>
        </div>
      </div>
      <div class="card__text">
        <h2 class="card__title">Inus</h2>
        <div class="card__number">Регистрационное Удостоверение № РЗН 2020/11718 от 17.08.2020</div>
        <div class="card__description">
          Inus – аппарат для фракционного микроигольчатого радиочастотного лифтинга, в основе работы которого лежит контролируемое воздействие биполярной радиочастотной энергией с глубиной проникновения от 0,5 до 3,5 мм. Применяется для: лифтинга различных зон лица и тела (шея, декольте, подбородочная, надколенные и ягодичная зоны, область живота и т.п.); коррекции поверхностных и глубоких морщин, улучшения тургора и улучшение эластичности кожи; коррекции рубцовой деформации, в т.ч. стрии; лечения постакне и гипергидроза.<br>
          Воздействие на целевые структуры кожи происходит за счет позолоченных изолированных микроигл, которые доставляют RF-энергию на нужную глубину, запуская процессы регенерации коллагена и эластина, сокращения волокон соединительной ткани, а также формирования соединительнотканного матрикса.
        </div>
        <div class="card__links">
          <a href="#" class="card__link btn btn--primary">Узнать цену</a>
          <a href="#" class="card__link btn">Записаться на демо</a>
        </div>
      </div>
    </div>
    <div class="separator-wrapper">
      <img src="img/svg/separator.svg" class="separator">
    </div>
    <div class="card__tabs" data-tabs="parent">
      <div class="card__tabs-buttons" data-tabs="controls">
        <button class="card__tabs-button" data-tabs="control">Преимущества</button>
        <button class="card__tabs-button" data-tabs="control">Технология</button>
        <button class="card__tabs-button" data-tabs="control">Характеристики</button>
        <button class="card__tabs-button" data-tabs="control">До / после</button>
        <button class="card__tabs-button" data-tabs="control">Условия покупки</button>
      </div>
      <div class="card__tabs-contents" data-tabs="content">
        <div class="card__tabs-content" data-tabs="element">
          <ul class="card__tabs-list">
            <li class="card__tabs-list-item">Запатентованная клеточно-сберегающая iCELL PF-MR технология, пневматическая (вакуумная) фракционная с доставкой RF энергии изолированными микроиглами</li>
            <li class="card__tabs-list-item">Имеет высокую мощность от 0,5 до 23 Вт и длительностью воздействия от 100 до 900 мс</li>
            <li class="card__tabs-list-item">Работает на двух частотах 0,5 и 2 МГц</li>
            <li class="card__tabs-list-item">Аппарат окупает себя за 100-150 процедур (2-3 месяца)</li>
            <li class="card__tabs-list-item">Два типа стерильных картриджей на 25 и 10 микроигл с золочением</li>
            <li class="card__tabs-list-item">Отсутствие побочных эффектов за счёт изолированной иглы в отношении обрабатываемой кожи. Отсутствие шрамов после лечения</li>
            <li class="card__tabs-list-item">Процедуру можно проводить в любое время года</li>
            <li class="card__tabs-list-item">Благодаря уникальной комбинации иглотерапии и радиочастотных импульсов эффект от одной процедуры виден сразу, выражен через 2,5-3 недели, а максимальная эффективность от процедуры нарастает в течение 3 месяцев</li>
            <li class="card__tabs-list-item">Технология вакуумного захвата кожного лоскута обеспечивает безопасную работу даже на сложных географиях лица, более комфортные ощущения пациента во время процедуры</li>
            <li class="card__tabs-list-item">3 регулировки силы вакуума</li>
            <li class="card__tabs-list-item">Десятки показаний и минимум противопоказаний для процедур - на любых участках кожи лица и тела с любым фототипом кожи, подходит даже для глубокого лечения шрамов</li>
            <li class="card__tabs-list-item">Короткий период реабилитации благодаря регулируемой микроиглами глубины воздействия</li>
            <li class="card__tabs-list-item">Расходные материалы всегда в наличии на складе в Москве</li>
          </ul>
        </div>
        <div class="card__tabs-content" data-tabs="element">
          <div class="card__technology">
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-1.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Микронидлинг c RF-воздействием (микроигольчатый RF) не является чем-то абсолютно новым для эстетической медицины. Данная методика присутствует на рынке косметологических услуг уже несколько десятков лет. За это время, конечно же, произошло несколько усовершенствований в оборудовании, воспроизводящем RF-воздействие микроиглами.
                </p>
              </div>
            </div>
            <p class="paragraph">
              <b>iCell PF-MRT</b> – умная система сберегающая клеточный баланс, пневматическая (вакуумная) фракционная с доставкой RF энергии изолированными микроиглами.<br> 
              <b>PF-MRT</b> cоздаёт микроотверстия в коже с помощью микроигл и вызывает коагуляцию на уровне дермы при помощи RF-энергии, подаваемой с кончиков микроигл. 
            </p>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-2.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Формирование проколов в разных слоях кожи активирует механизм естественного восстановления, а радиочастотное воздействие вызывает коагуляцию тканей, стимулируя выработку коллагена. При температуре 45-60-75 градусов радиочастотная тепловая энергия будет индуцировать неоколлагеногенез и неоэлатиногенез, реализуя лифтинг-эффект.
                </p>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-2.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Уникальные микроиглы с золотым напылением, неизолированный кончик иглы 0,5 мм. Само золото является полупроводником, а значит, при определенных физико-химических условиях оно может выполнять функцию проводника, диэлектрика. Наночастицы золота, кроме функции диэлектрика в напылении иглы, выполняют еще функцию клеточного протектора:
                </p>
                <ul class="card__tabs-list">
                  <li class="card__tabs-list-item">Катализатор обменных процессов в клетке</li>
                  <li class="card__tabs-list-item">Стимулятор митотической активности клетки</li>
                  <li class="card__tabs-list-item">Активатор иммунного ответа, иммуномодулятор</li>
                  <li class="card__tabs-list-item">Входит в состав металлопротеидов, стимулируя эластиногенез</li>
                  <li class="card__tabs-list-item">Нейропротектор</li>
                </ul>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-2">
              <img src="img/content/card-technology-4.png" class="card__technology-photo">
              <img src="img/content/card-technology-5.png" class="card__technology-photo">
            </div>
            <p class="paragraph">
              Благодаря тому, что у предшествующих аппаратов игольчатого RF золочение игл доказало свое благоприятное воздействие, в картриджах аппарата Inus использованы микроиглы с нанесением золотого сплава (определенной формулы), но с учетом преимуществ изолированных игл золочение выполнено не на всю длину иглы.<br>
              Преимущественное отличие от предшественников – это диаметр самой иглы. Микроиглы Inus имеют уникально малый размер 0,12 мм, а полированный кончик иглы – диаметр 0,03 мм.
            </p>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-6.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Запатентованная технология <b>iCELL PF MRF</b> – это клеточно-сберегающая пневматическая фракционная микроигольчатая радиочастотная технология. В ней функция вакуумного захвата кожи позволяет снизить болезненность процедуры в разы. Для комфортной работы на сложных «географических» лицах и в труднодоступных зонах лица и тела в наборе имеются два картриджа на 10 и 25 микроигл.
                </p>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-7.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  <b>Наличие двух рабочих частот является уникальной особенностью аппарата Inus</b>. Конфигурация повреждения биологической ткани на представленных частотах различна. Так, на частоте 0,5 МГц получаем энергетическую плотность меньше, чем 2 МГц. Энергия проходит глубоко и широко, ощущается мягко при низкой энергии, но при высокой энергии может ощущаться болезненно. На частоте 2МГц энергетическая плотность больше, чем 0,5 МГц.<br><br>
                  Энергия передается мгновенно узко в область ее доставки. Меньшая болезненность, тепло быстро рассеивается. Некоторые клинические задачи требуют выполнения двухэтапного воздействия этими частотами, для большей эффективности, сокращения сроков достижения конечного результата.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card__tabs-content" data-tabs="element">
          <ul class="card__characteristics">
            <li class="card__characteristic">
              <div class="card__characteristic-name">Тип энергии</div>
              <div class="card__characteristic-value">RF (биполярная)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Частота</div>
              <div class="card__characteristic-value">0,5 МГц / 2 МГц</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Толщина игл</div>
              <div class="card__characteristic-value">0,25 мм</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Покрытие игл</div>
              <div class="card__characteristic-value">полуизолированные (позолоченное покрытие)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Насадки</div>
              <div class="card__characteristic-value">25 игл (5х5), 10 игл (2х5)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Зоны воздействия</div>
              <div class="card__characteristic-value">25 игл: 1х1 см, 10 игл: 1х0,3 см</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Глубина проникновения</div>
              <div class="card__characteristic-value">0,5-3,5 мм</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Вакуум</div>
              <div class="card__characteristic-value">до 74 кПа </div>
            </li>
          </ul>
        </div>
        <div class="card__tabs-content" data-tabs="element">
          <div class="card__after-before">
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-2.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-3.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-4.png" class="ard__after-before-photo">
            </div>
          </div>
        </div>
        <div class="card__tabs-content" data-tabs="element">
          <div class="card__purchase-terms">
            <p class="paragraph">
              <b>
                У нас, Вы не просто покупаете аппарат с высокой скоростью окупаемости...<br>
                Мы обеспечиваем комплекс услуг для эффективной работы!<br><br>
              </b>
            </p>
            <ul class="card__tabs-list">
              <li class="card__tabs-list-item">Возможна покупка в рассрочку и лизинг</li>
              <li class="card__tabs-list-item">Доставка и инсталляция входят в стоимость</li>
              <li class="card__tabs-list-item">Комплексное и обязательное обучение с постановкой руки возможно провести на Вас или Ваших моделях и это , также, входит в стоимость</li>
              <li class="card__tabs-list-item">Маркетинговая поддержка, в виде контента, медиа документов и аудита сайта или социальных сетей (по запросу) мы предоставляем бесплатно</li>
              <li class="card__tabs-list-item">Сервисная поддержка. В случае необходимости, наши профессиональные сотрудники сервисной службы приедут к Вам и проведут ремонтные работы.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card__accordions" data-accordion="parent">
      <div class="card__accordion" data-accordion="element">
        <button class="card__accordion-button" data-accordion="button">
          Преимущества
          <svg class="card__accordion-button-icon" width="14" height="7">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="card__accordion-content" data-accordion="content">
          <ul class="card__tabs-list">
            <li class="card__tabs-list-item">Запатентованная клеточно-сберегающая iCELL PF-MR технология, пневматическая (вакуумная) фракционная с доставкой RF энергии изолированными микроиглами</li>
            <li class="card__tabs-list-item">Имеет высокую мощность от 0,5 до 23 Вт и длительностью воздействия от 100 до 900 мс</li>
            <li class="card__tabs-list-item">Работает на двух частотах 0,5 и 2 МГц</li>
            <li class="card__tabs-list-item">Аппарат окупает себя за 100-150 процедур (2-3 месяца)</li>
            <li class="card__tabs-list-item">Два типа стерильных картриджей на 25 и 10 микроигл с золочением</li>
            <li class="card__tabs-list-item">Отсутствие побочных эффектов за счёт изолированной иглы в отношении обрабатываемой кожи. Отсутствие шрамов после лечения</li>
            <li class="card__tabs-list-item">Процедуру можно проводить в любое время года</li>
            <li class="card__tabs-list-item">Благодаря уникальной комбинации иглотерапии и радиочастотных импульсов эффект от одной процедуры виден сразу, выражен через 2,5-3 недели, а максимальная эффективность от процедуры нарастает в течение 3 месяцев</li>
            <li class="card__tabs-list-item">Технология вакуумного захвата кожного лоскута обеспечивает безопасную работу даже на сложных географиях лица, более комфортные ощущения пациента во время процедуры</li>
            <li class="card__tabs-list-item">3 регулировки силы вакуума</li>
            <li class="card__tabs-list-item">Десятки показаний и минимум противопоказаний для процедур - на любых участках кожи лица и тела с любым фототипом кожи, подходит даже для глубокого лечения шрамов</li>
            <li class="card__tabs-list-item">Короткий период реабилитации благодаря регулируемой микроиглами глубины воздействия</li>
            <li class="card__tabs-list-item">Расходные материалы всегда в наличии на складе в Москве</li>
          </ul>
        </div>
      </div>
      <div class="card__accordion" data-accordion="element">
        <button class="card__accordion-button" data-accordion="button">
          Технология
          <svg class="card__accordion-button-icon" width="14" height="7">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="card__accordion-content" data-accordion="content">
          <div class="card__technology">
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-1.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Микронидлинг c RF-воздействием (микроигольчатый RF) не является чем-то абсолютно новым для эстетической медицины. Данная методика присутствует на рынке косметологических услуг уже несколько десятков лет. За это время, конечно же, произошло несколько усовершенствований в оборудовании, воспроизводящем RF-воздействие микроиглами.
                </p>
              </div>
            </div>
            <p class="paragraph">
              <b>iCell PF-MRT</b> – умная система сберегающая клеточный баланс, пневматическая (вакуумная) фракционная с доставкой RF энергии изолированными микроиглами.<br> 
              <b>PF-MRT</b> cоздаёт микроотверстия в коже с помощью микроигл и вызывает коагуляцию на уровне дермы при помощи RF-энергии, подаваемой с кончиков микроигл. 
            </p>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-2.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Формирование проколов в разных слоях кожи активирует механизм естественного восстановления, а радиочастотное воздействие вызывает коагуляцию тканей, стимулируя выработку коллагена. При температуре 45-60-75 градусов радиочастотная тепловая энергия будет индуцировать неоколлагеногенез и неоэлатиногенез, реализуя лифтинг-эффект.
                </p>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-2.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Уникальные микроиглы с золотым напылением, неизолированный кончик иглы 0,5 мм. Само золото является полупроводником, а значит, при определенных физико-химических условиях оно может выполнять функцию проводника, диэлектрика. Наночастицы золота, кроме функции диэлектрика в напылении иглы, выполняют еще функцию клеточного протектора:
                </p>
                <ul class="card__tabs-list">
                  <li class="card__tabs-list-item">Катализатор обменных процессов в клетке</li>
                  <li class="card__tabs-list-item">Стимулятор митотической активности клетки</li>
                  <li class="card__tabs-list-item">Активатор иммунного ответа, иммуномодулятор</li>
                  <li class="card__tabs-list-item">Входит в состав металлопротеидов, стимулируя эластиногенез</li>
                  <li class="card__tabs-list-item">Нейропротектор</li>
                </ul>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-2">
              <img src="img/content/card-technology-4.png" class="card__technology-photo">
              <img src="img/content/card-technology-5.png" class="card__technology-photo">
            </div>
            <p class="paragraph">
              Благодаря тому, что у предшествующих аппаратов игольчатого RF золочение игл доказало свое благоприятное воздействие, в картриджах аппарата Inus использованы микроиглы с нанесением золотого сплава (определенной формулы), но с учетом преимуществ изолированных игл золочение выполнено не на всю длину иглы.<br>
              Преимущественное отличие от предшественников – это диаметр самой иглы. Микроиглы Inus имеют уникально малый размер 0,12 мм, а полированный кончик иглы – диаметр 0,03 мм.
            </p>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-6.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  Запатентованная технология <b>iCELL PF MRF</b> – это клеточно-сберегающая пневматическая фракционная микроигольчатая радиочастотная технология. В ней функция вакуумного захвата кожи позволяет снизить болезненность процедуры в разы. Для комфортной работы на сложных «географических» лицах и в труднодоступных зонах лица и тела в наборе имеются два картриджа на 10 и 25 микроигл.
                </p>
              </div>
            </div>
            <div class="card__technology-wrapper card__technology-wrapper--type-1">
              <img src="img/content/card-technology-7.png" class="card__technology-photo">
              <div class="card__technology-wrapper-text">
                <p class="paragraph">
                  <b>Наличие двух рабочих частот является уникальной особенностью аппарата Inus</b>. Конфигурация повреждения биологической ткани на представленных частотах различна. Так, на частоте 0,5 МГц получаем энергетическую плотность меньше, чем 2 МГц. Энергия проходит глубоко и широко, ощущается мягко при низкой энергии, но при высокой энергии может ощущаться болезненно. На частоте 2МГц энергетическая плотность больше, чем 0,5 МГц.<br><br>
                  Энергия передается мгновенно узко в область ее доставки. Меньшая болезненность, тепло быстро рассеивается. Некоторые клинические задачи требуют выполнения двухэтапного воздействия этими частотами, для большей эффективности, сокращения сроков достижения конечного результата.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card__accordion" data-accordion="element">
        <button class="card__accordion-button" data-accordion="button">
          характеристики
          <svg class="card__accordion-button-icon" width="14" height="7">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="card__accordion-content" data-accordion="content">
          <ul class="card__characteristics">
            <li class="card__characteristic">
              <div class="card__characteristic-name">Тип энергии</div>
              <div class="card__characteristic-value">RF (биполярная)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Частота</div>
              <div class="card__characteristic-value">0,5 МГц / 2 МГц</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Толщина игл</div>
              <div class="card__characteristic-value">0,25 мм</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Покрытие игл</div>
              <div class="card__characteristic-value">полуизолированные (позолоченное покрытие)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Насадки</div>
              <div class="card__characteristic-value">25 игл (5х5), 10 игл (2х5)</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Зоны воздействия</div>
              <div class="card__characteristic-value">25 игл: 1х1 см, 10 игл: 1х0,3 см</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Глубина проникновения</div>
              <div class="card__characteristic-value">0,5-3,5 мм</div>
            </li>
            <li class="card__characteristic">
              <div class="card__characteristic-name">Вакуум</div>
              <div class="card__characteristic-value">до 74 кПа </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card__accordion" data-accordion="element">
        <button class="card__accordion-button" data-accordion="button">
          до / после
          <svg class="card__accordion-button-icon" width="14" height="7">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="card__accordion-content" data-accordion="content">
          <div class="card__after-before">
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-2.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-3.png" class="ard__after-before-photo">
            </div>
            <div class="card__after-before-photo-wrapper">
              <img src="img/content/card-after-before-4.png" class="ard__after-before-photo">
            </div>
          </div>
        </div>
      </div>
      <div class="card__accordion" data-accordion="element">
        <button class="card__accordion-button" data-accordion="button">
          условия покупки
          <svg class="card__accordion-button-icon" width="14" height="7">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <div class="card__accordion-content" data-accordion="content">
          <div class="card__purchase-terms">
            <p class="paragraph">
              <b>
                У нас, Вы не просто покупаете аппарат с высокой скоростью окупаемости...<br>
                Мы обеспечиваем комплекс услуг для эффективной работы!<br><br>
              </b>
            </p>
            <ul class="card__tabs-list">
              <li class="card__tabs-list-item">Возможна покупка в рассрочку и лизинг</li>
              <li class="card__tabs-list-item">Доставка и инсталляция входят в стоимость</li>
              <li class="card__tabs-list-item">Комплексное и обязательное обучение с постановкой руки возможно провести на Вас или Ваших моделях и это , также, входит в стоимость</li>
              <li class="card__tabs-list-item">Маркетинговая поддержка, в виде контента, медиа документов и аудита сайта или социальных сетей (по запросу) мы предоставляем бесплатно</li>
              <li class="card__tabs-list-item">Сервисная поддержка. В случае необходимости, наши профессиональные сотрудники сервисной службы приедут к Вам и проведут ремонтные работы.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


