<section class="catalog">
  <div class="container container--inner">
    <ul class="catalog__list">
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-1.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Inus</h3>
          <p class="catalog__card-description">Профессиональный аппарат для микроигольчатого RF-лифтинга</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-2.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Hipro</h3>
          <p class="catalog__card-description">Аппарат для сфокусированного ультразвукового SMAS-лифтинга (HIFU)</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-3.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Grand Cell Rf</h3>
          <p class="catalog__card-description">Мощный и надежный фракционный СО2 лазер</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-4.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">HidroPeel Plus</h3>
          <p class="catalog__card-description">Многофункциональный аппарат для профессиональной неинвазивной чистки и омоложения</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-5.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Aroma Grand</h3>
          <p class="catalog__card-description">Диодный лазер нового поколения</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-6.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Сыворотка A</h3>
          <p class="catalog__card-description">для Hydra Peel Plus АНА</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-7.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Сыворотка B</h3>
          <p class="catalog__card-description">для Hydra Peel Plus ВНА</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-8.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Сыворотка E</h3>
          <p class="catalog__card-description">для Hydra Peel Plus Е-эссенция</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-9.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Комплект сывороток</h3>
          <p class="catalog__card-description">для Hydra Peel Plus АНА, ВНА, Е-эссенция</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-10.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Комплект гинекологических насадок</h3>
          <p class="catalog__card-description">для Gtand Cell RF</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-11.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Комплект картриджей для Hipro
            </h3>
          <p class="catalog__card-description">1.5, 3 , 4.5 , 8 и 13 мм</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-12.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Комплект насадок для Hydra Peel Plus
            </h3>
          <p class="catalog__card-description">Ø 10 мм, 30 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-13.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Комплект насадок для Hydra Peel Plus
            </h3>
          <p class="catalog__card-description">Ø 20 мм, 30 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-14.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Индивидуальный картридж для Inus
            </h3>
          <p class="catalog__card-description">10 игл, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-15.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Индивидуальный картридж для Inus
            </h3>
          <p class="catalog__card-description">25 игл, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-16.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Картридж HIFU</h3>
          <p class="catalog__card-description">1.5, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-16.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Картридж HIFU</h3>
          <p class="catalog__card-description">3, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-16.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Картридж HIFU</h3>
          <p class="catalog__card-description">4.5, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-16.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Картридж HIFU</h3>
          <p class="catalog__card-description">8, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
      <li class="catalog__list-item">
        <a href="#" class="catalog__card">
          <img src="img/content/catalog-card-16.png" class="catalog__card-photo">
          <h3 class="catalog__card-title">Картридж HIFU</h3>
          <p class="catalog__card-description">13, 1 шт</p>
          <button class="catalog__card-more btn">Подробнее</button>
        </a>
      </li>
    </ul>
  </div>
</section>