<section class="clients">
  <div class="container container--inner">
    <p class="paragraph">
      Оцените преимущества, которые Вы получите став нашим клиентом!<br><br>
      Компания Dr. ЭCТЕТИК TECHNOLOGIES основана профессионалами с более чем 10 - летним опытом работы в сфере эстетической косметологии и гинекологии.<br><br>
      С 2019 года мы сотрудничаем с ведущими клиниками России и обеспечиваем бизнес надежным и результативным оборудованием. Наши клиенты: врачи, владельцы клиник, государственные медицинские учреждения и частные медицинские кабинеты.
    </p>
    <h2 class="clients__title title-m">Процесс покупки оборудования</h2>
    <svg class="clients__desktop-content" width="1204" height="431">
      <use xlink:href="#clients"></use>
    </svg>
    <div class="clients__mobile-content">
      <ul class="clients__list">
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="43" height="44">
            <use xlink:href="#clients-icon-1"></use>
          </svg>
          <h3 class="clients__list-item-title">Звонок/Обращение</h3>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Подробная консультация менеджера</h3>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Индивидуальное КП</h3>
          <div class="clients__list-item-description">
            включает все преимущества + вариант рассрочки и лизинга
          </div>
        </li>
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="59" height="64">
            <use xlink:href="#clients-icon-2"></use>
          </svg>
          <h3 class="clients__list-item-title">Демонстрация оборудования</h3>
          <div class="clients__list-item-description">
            online/offline с проведением тестовой процедуры
          </div>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Оценка преимуществ:</h3>
          <div class="clients__list-item-description">
            скорость окупаемости, бесплатные доставка и инсталляция, маркетинговая и сервисная поддержка, обучение offline/online, персональный менеджер
          </div>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Согласование договора и оплаты</h3>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Доступ к маркетинговым материалам и вебинарам</h3>
        </li>
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="81" height="49">
            <use xlink:href="#clients-icon-3"></use>
          </svg>
          <h3 class="clients__list-item-title">Доставка и инсталляция</h3>
        </li>
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="63" height="58">
            <use xlink:href="#clients-icon-4"></use>
          </svg>
          <h3 class="clients__list-item-title">Обучение</h3>
          <div class="clients__list-item-description">
            наш тренер приедет к Вам!
          </div>
        </li>
        <li class="clients__list-item">
          <h3 class="clients__list-item-title">Отзыв</h3>
          <div class="clients__list-item-description">
            Получение отзыва о работе на оборудовании
          </div>
        </li>
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="65" height="65">
            <use xlink:href="#clients-icon-5"></use>
          </svg>
          <h3 class="clients__list-item-title">Успешная и выгодная работа на оборудовании</h3>
        </li>
        <li class="clients__list-item">
          <svg class="clients__list-item-icon" width="64" height="62">
            <use xlink:href="#clients-icon-6"></use>
          </svg>
          <h3 class="clients__list-item-title">Довольные пациенты и врачи!</h3>
        </li>
      </ul>
    </div>
    <form class="clients__contact-form contact-form">
      <a href="tel:+74950252321" class="contact-form__phone">+7 (495) 025-23-21</a>
      <input type="text" class="contact-form__input input" placeholder="Ваше Имя">
      <input type="tel" class="contact-form__input input" placeholder="Номер телефона">
      <button class="contact-form__submit btn">Оставить заявку</button>
      <div class="contact-form__warning">«Нажимая кнопку, вы даете согласие на обработку персональных данных»</div>
    </form>
  </div>
</section>