<section class="contacts">
  <div class="container">
    <div class="contacts__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.181795381948!2d37.65184645089865!3d55.755344099168816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a8cce0635a3%3A0xf1b8dc55e773a826!2zRHIu0K3RgdGC0LXRgtC40Lo!5e0!3m2!1sru!2sru!4v1660833931216!5m2!1sru!2sru" width="625" height="660" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contacts__right-wrapper">
      <div class="contacts__address">Москва, ул. Подсосенский пер., д. 23, стр. 2</div>
      <div class="contacts__working-time">Понедельник-пятница с 10.00 до 18.00</div>
      <a href="mailto:info@estetic.tech" class="contacts__email">info@estetic.tech</a>
      <ul class="contacts__list">
        <li class="contacts__list-item">
          <svg class="contacts__list-item-icon" width="23" height="23">
            <use xlink:href="#icon-whatsapp-small"></use>
          </svg>
          <a href="tel:+74950252321">+7 (495) 025-23-21</a>
        </li>
        <li class="contacts__list-item">
          <svg class="contacts__list-item-icon" width="24" height="29">
            <use xlink:href="#icon-subway"></use>
          </svg>
          Чкаловская
        </li>
        <li class="contacts__list-item">
          <svg class="contacts__list-item-icon" width="24" height="29">
            <use xlink:href="#icon-subway"></use>
          </svg>
          Курская
        </li>
      </ul>
      <div class="contacts__more">
        В районе метро Чкаловская.<br>
        <a href="#">Посмотреть маршрут</a>
      </div>
      <form class="contact-form">
        <a href="tel:+74950252321" class="contact-form__phone">+7 (495) 025-23-21</a>
        <input type="text" class="contact-form__input input" placeholder="Ваше Имя">
        <input type="tel" class="contact-form__input input" placeholder="Номер телефона">
        <button class="contact-form__submit btn btn--primary">Позвоните мне</button>
        <div class="contact-form__warning">«Нажимая кнопку, вы даете согласие на обработку персональных данных»</div>
        <a href="#" class="contact-form__download">
          <svg class="contact-form__download-icon" width="16" height="20">
            <use xlink:href="#icon-download"></use>
          </svg>
          Получить каталог
        </a>
      </form>
    </div>
  </div>
</section>