<section class="education">
  <div class="container container--inner">
    <p class="paragraph">
      <b>Клиническое обучение – это важная часть интеграции современного высокотехнологичного медицинского оборудования в работу клиник и частных медицинских кабинетов.</b><br><br>
      Мы ориентированы на долгосрочные партнерские отношения с нашими клиентами и много времени уделяем обучению персонала клиник при покупке нашего косметологического оборудования. <br>
      Практикующие врачи Dr. ЭСТЕТИК TECHNOLOGIES с многолетним стажем работы (сертифицированные тренеры), cогласно разработанной методологии, обучают специалистов клиник.<br>
      В программу обучения включены профессиональные мастер-классы, семинары для специалистов и онлайн вебинары по аппаратной косметологии.
    </p>
    <div class="education__photos">
      <img src="img/content/education-photo-1.png" class="education__photo">
      <img src="img/content/education-photo-2.png" class="education__photo">
      <img src="img/content/education-photo-3.png" class="education__photo">
    </div>
    <h3 class="education__list-title">После покупки нашего оборудования, Вы получаете:</h3>
    <ul class="education__list">
      <li class="education__list-item">
        Профильное обучение работе на аппарате, c постановкой руки. Наш клинический тренер приезжает в Вашу клинику и проводит комплексный курс с практической частью. Вы можете приглашать моделей или оценивать результаты процедур на себе или коллегах. Чаще всего, практикуется именно второй вариант, чтобы получать оперативную, честную обратную связь прямо во время занятия.
      </li>
      <li class="education__list-item">
        Повторное обучение и доступ к базе знаний. После визита тренера Вы всегда можете связаться с нами, задать интересующие вопросы, получить консультацию, протоколы, манулы и прочее. Все то, что поможет Вам и Вашим врачам сделать работу на аппаратах эффективной. Также в программу обучения Dr. ЭСТЕТИК TECHNOLOGIES входят семинары для специалистов, профессиональные мастер-классы,  и вебинары по аппаратной косметологии.
      <li class="education__list-item">
        Пожизненный доступ к вебинарам Dr.ЭСТЕТИК TECHNOLOGIES. Мы регулярно проводим онлайн вебинары для врачей и владельцев бизнеса, чтобы делиться полезным практическим опытом, новыми технологиями и уникальных особенностях нашего оборудования. Наши клиенты регулярно принимают участие в таких событиях и имеют возможность повторно посмотреть записи в любое удобное для них время.
      </li>
    </ul>
    <p class="paragraph">
      Также, всем нашим клиентам доступны <a href="#">сервисная</a> и <a href="#">маркетинговая поддержка</a> 
    </p>
    <a href="#" class="education__catalog-link btn">Перейти в каталог</a>
  </div>
</section>




