<section class="equipment section">
  <div class="container">
    <h2 class="section__title title-m">Оборудование</h2>
    <a href="#" class="section__more-link">Смотреть все</a>
    <div class="section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="equipment__slide">
            <div class="equipment__slide-img-wrapper">
              <img src="img/content/equipment-1.png" class="equipment__slide-img">
            </div>
            
            <h3 class="equipment__slide-title">Hipro</h3>
            <p class="equipment__slide-description">
              Аппарат для сфокусированного ультразвукового SMAS-лифтинга с низкой себестоимостью процедуры
            </p>
            <a href="#" class="equipment__slide-record btn">Записаться на демо</a>
            <a href="#" class="equipment__slide-more">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="equipment__slide">
            <div class="equipment__slide-img-wrapper">
              <img src="img/content/equipment-2.png" class="equipment__slide-img">
            </div>
            
            <h3 class="equipment__slide-title">INUS</h3>
            <p class="equipment__slide-description">
              Быстро окупаемый аппарат для вакуумно-игольчатого РФ-лифтинга
            </p>
            <a href="#" class="equipment__slide-record btn">Записаться на демо</a>
            <a href="#" class="equipment__slide-more">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="equipment__slide">
            <div class="equipment__slide-img-wrapper">
              <img src="img/content/equipment-3.png" class="equipment__slide-img">
            </div>
            
            <h3 class="equipment__slide-title">Hipro</h3>
            <p class="equipment__slide-description">
              Диодный лазер последнего поколения для эпиляции и неабляционного омоложения любого фототипа
            </p>
            <a href="#" class="equipment__slide-record btn">Записаться на демо</a>
            <a href="#" class="equipment__slide-more">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="equipment__slide">
            <div class="equipment__slide-img-wrapper">
              <img src="img/content/equipment-4.png" class="equipment__slide-img">
            </div>
            
            <h3 class="equipment__slide-title">grand cell rf</h3>
            <p class="equipment__slide-description">
              Фракционный СО2 лазер  для косметологии, гинекологии и хирургии без расходных материалов
            </p>
            <a href="#" class="equipment__slide-record btn">Записаться на демо</a>
            <a href="#" class="equipment__slide-more">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="equipment__slide">
            <div class="equipment__slide-img-wrapper">
              <img src="img/content/equipment-5.png" class="equipment__slide-img">
            </div>
            
            <h3 class="equipment__slide-title">HYDRA PEEL PLUS </h3>
            <p class="equipment__slide-description">
              Аппарат для вакуумного гидропиллинга и интенсивного увлажнения и питания 
            </p>
            <a href="#" class="equipment__slide-record btn">Записаться на демо</a>
            <a href="#" class="equipment__slide-more">подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>