<section class="feedback">
  <div class="container container--inner">
    <p class="paragraph">
      <b>
        Обратная связь от наших клиентов (врачей и владельцев бизнеса) – это важная и регулирующая наши внутренние процессы составляющая. Мы поддерживаем связь и запрашиваем отзывы о работе на нашем оборудовании.
      </b>
    </p>
    <ul class="feedback__list">
      <li class="feedback__list-item">
        <div class="feedback__media-wrapper">
          <img src="img/content/feedback.png" class="feedback__media">
          <div class="feedback__media-text">Отзыв о работе на аппарате Inus</div>
        </div>
        <div class="feedback__person">
          <img src="img/content/feedback-person.png" class="feedback__person-photo">
          <div class="feedback__person-text">
            <div class="feedback__person-name">Легкая<br> Офелия Самвеловна</div>
            <div class="feedback__person-position">Врач-косметолог, дерматовенеролог</div>
          </div>
        </div>
      </li>
      <li class="feedback__list-item">
        <div class="feedback__media-wrapper">
          <img src="img/content/feedback.png" class="feedback__media">
          <div class="feedback__media-text">Отзыв о работе на аппарате HIPRO</div>
        </div>
        <div class="feedback__person">
          <img src="img/content/feedback-person.png" class="feedback__person-photo">
          <div class="feedback__person-text">
            <div class="feedback__person-name">Масленникова<br> Анжела Васильевна</div>
            <div class="feedback__person-position">Косметолог-эстетист</div>
          </div>
        </div>
      </li>
      <li class="feedback__list-item">
        <div class="feedback__media-wrapper">
          <img src="img/content/feedback.png" class="feedback__media">
          <div class="feedback__media-text">Отзыв о работе на аппарате HydraPeel</div>
        </div>
        <div class="feedback__person">
          <img src="img/content/feedback-person.png" class="feedback__person-photo">
          <div class="feedback__person-text">
            <div class="feedback__person-name">Легкая<br> Офелия Самвеловна</div>
            <div class="feedback__person-position">Врач-косметолог, дерматовенеролог</div>
          </div>
        </div>
      </li>
      <li class="feedback__list-item">
        <div class="feedback__media-wrapper">
          <img src="img/content/feedback.png" class="feedback__media">
          <div class="feedback__media-text">Отзыв о работе на аппарате Inus</div>
        </div>
        <div class="feedback__person">
          <img src="img/content/feedback-person.png" class="feedback__person-photo">
          <div class="feedback__person-text">
            <div class="feedback__person-name">Легкая<br> Офелия Самвеловна</div>
            <div class="feedback__person-position">Врач-косметолог, дерматовенеролог</div>
          </div>
        </div>
      </li>
      <li class="feedback__list-item">
        <div class="feedback__media-wrapper">
          <img src="img/content/feedback.png" class="feedback__media">
          <div class="feedback__media-text">Отзыв о работе на аппарате Inus</div>
        </div>
        <div class="feedback__person">
          <img src="img/content/feedback-person.png" class="feedback__person-photo">
          <div class="feedback__person-text">
            <div class="feedback__person-name">Легкая<br> Офелия Самвеловна</div>
            <div class="feedback__person-position">Врач-косметолог, дерматовенеролог</div>
          </div>
        </div>
      </li>
      <li class="feedback__list-item">
        <form class="feedback__form">
          <h2 class="feedback__form-title">Оставить отзыв</h2>
          <input type="text" class="feedback__form-input input" placeholder="Ваше Имя">
          <textarea type="text" class="feedback__form-input input" placeholder="Напишите отзыв"></textarea>
          <button class="feedback__form-submit btn">Отправить</button>
        </form>
      </li>
    </ul>
  </div>
</section>