<section class="managers">
  <div class="container container--inner">
    <ul class="managers__list">
      <li class="manager">
        <div class="manager__photo-wrapper">
          <img src="img/content/manager-1.png" class="manager__photo">
        </div>
        <h3 class="manager__name">Яковлева Анна</h3>
        <div class="manager__position">Менеджер по продажам медицинского оборудования</div>
        <div class="manager__description">
          Опыт работы более 10 лет. Она не просто продаст Вам оборудование, а подберёт для Вас тот аппарат, который нужен именно вашему бизнесу под конкретные потребности.<br>
          Готова ответить на любые возникающие вопросы.
        </div>
        <a href="tel:+79267718388" class="manager__phone">
          <svg class="manager__phone-icon" width="30" height="30">
            <use xlink:href="#whatsapp-green"></use>
          </svg>
          +7 926 771 83 88
        </a>
      </li>
      <li class="manager">
        <div class="manager__photo-wrapper">
          <img src="img/content/manager-2.png" class="manager__photo">
        </div>
        <h3 class="manager__name">Десятков Станислав</h3>
        <div class="manager__position">Директор по продажам медицинского оборудования </div>
        <div class="manager__description">
          7 лет занимается комплектацией клиник и косметологических кабинетов медицинским оборудованием. Опыт работы в крупнейших международных компаниях.<br>
          С 2012 года является директором по продажам медицинского оборудования.
        </div>
        <a href="tel:+79267718388" class="manager__phone">
          <svg class="manager__phone-icon" width="30" height="30">
            <use xlink:href="#whatsapp-green"></use>
          </svg>
          +7 926 771 83 88
        </a>
      </li>
    </ul>
  </div>
</section>