<section class="materials section">
  <div class="container">
    <h2 class="section__title title-m">Препараты и расходные материалы</h2>
    <a href="#" class="section__more-link">Смотреть все</a>
    <div class="section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="materials__slide">
            <div class="materials__slide-img-wrapper">
              <img src="img/content/materials-1.png" class="materials__slide-img">
            </div>
            <h3 class="materials__slide-title">Комплект насадок для Hydra Peel Plus</h3>
            <p class="materials__slide-description">
              Ø 20 мм, 30 шт
            </p>
            <a href="#" class="materials__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slide">
            <div class="materials__slide-img-wrapper">
              <img src="img/content/materials-2.png" class="materials__slide-img">
            </div>
            
            <h3 class="materials__slide-title">Индивидуальный картридж для Inus</h3>
            <p class="materials__slide-description">
              10 игл, 1 шт
            </p>
            <a href="#" class="materials__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slide">
            <div class="materials__slide-img-wrapper">
              <img src="img/content/materials-3.png" class="materials__slide-img">
            </div>
            
            <h3 class="materials__slide-title">Индивидуальный картридж для Inus</h3>
            <p class="materials__slide-description">
              25 игл, 1 шт
            </p>
            <a href="#" class="materials__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slide">
            <div class="materials__slide-img-wrapper">
              <img src="img/content/materials-4.png" class="materials__slide-img">
            </div>
            
            <h3 class="materials__slide-title">Картридж HIFU</h3>
            <p class="materials__slide-description">
              1.5, 1 шт
            </p>
            <a href="#" class="materials__slide-record btn">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>