<section class="methods">
  <div class="container container--inner">
    <h2 class="methods__title title-m">СОЧЕТАННЫЕ МЕТОДИКИ</h2>
    <div class="methods__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="methods__slide">
            <img src="img/content/methods-slide-1.png" class="methods__slide-photo">
            <div class="methods__slide-name">hipro</div>
            <a href="#" class="methods__slide-link">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="methods__slide">
            <img src="img/content/methods-slide-2.png" class="methods__slide-photo">
            <div class="methods__slide-name">INUS</div>
            <a href="#" class="methods__slide-link">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="methods__slide">
            <img src="img/content/methods-slide-3.png" class="methods__slide-photo">
            <div class="methods__slide-name">AROMA GRAND</div>
            <a href="#" class="methods__slide-link">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="methods__slide">
            <img src="img/content/methods-slide-4.png" class="methods__slide-photo">
            <div class="methods__slide-name">HYDRA PEEL PLUS</div>
            <a href="#" class="methods__slide-link">подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="methods__slide">
            <img src="img/content/methods-slide-5.png" class="methods__slide-photo">
            <div class="methods__slide-name">GRAND CELL RF</div>
            <a href="#" class="methods__slide-link">подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>