<section class="reviews section">
  <div class="container">
    <h2 class="section__title title-m">Отзывы</h2>
    <a href="#" class="section__more-link">Смотреть все</a>
    <ul class="reviews__list">
      <li class="review">
        <iframe class="review__media" width="1261" height="480" src="https://www.youtube.com/embed/bJvbB44YH4o" title="Масленникова Анжела Васильевна. Косметолог-эстетист, медицинская сестра сети клиник Dr. Эстетик" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="review">
        <iframe class="review__media" width="1261" height="480" src="https://www.youtube.com/embed/s99LofcCu7o" title="Баева Анастасия Александровна. Главный врач сети клиник косметологии Dr. Эстетик, к.м.н." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="review">
        <iframe class="review__media" width="1261" height="480" src="https://www.youtube.com/embed/RhWyBYTxod4" title="Амирова Амина Руслановна. Врач-косметолог, дерматовенеролог сети клиник Dr. Эстетик" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="review">
        <iframe class="review__media" width="1260" height="480" src="https://www.youtube.com/embed/rCDRw4jybEc" title="Гуцал Инна Александровна. Врач-косметолог, дерматовенеролог сети клиник Dr. Эстетик" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="review">
        <iframe class="review__media" width="1260" height="480" src="https://www.youtube.com/embed/NjaQkqIF_fk" title="Нужнова Наталья Олеговна. Врач-косметолог, дерматовенеролог сети клиник Dr. Эстетик" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
      <li class="review">
        <iframe class="review__media" width="1260" height="480" src="https://www.youtube.com/embed/-TnvsemKRKg" title="Намазова Вафа Захидовна, косметолог-эстетист, медицинская сестра сети клиник косметологии Dr.Эстетик" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
</section>