<section class="reviews section">
  <div class="container">
    <h2 class="section__title title-m">Отзывы</h2>
    <a href="#" class="section__more-link">Смотреть все</a>
    <ul class="reviews__list">
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=s99LofcCu7o"></a>
      </li>
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=s99LofcCu7o"></a>
      </li>
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=RhWyBYTxod4"></a>
      </li>
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=rCDRw4jybEc"></a>
      </li>
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=NjaQkqIF_fk"></a>
      </li>
      <li class="review">
        <a data-youtube href="https://www.youtube.com/watch?v=-TnvsemKRKg"></a>
      </li>
    </ul>
  </div>
</section>