<section class="smas">
  <div class="container container--inner">
    <div class="smas__about">
      <img src="img/content/smas-about.png" class="smas__about-photo">
      <div class="smas__about-subtitle">
        Запрос на лифтинг – один из самых популярных у пациентов 35+. Одной из самых эффективных методик для лифтинга лица и тела является ультразвуковой SMAS-лифтинг.
      </div>
      <div class="smas__about-main-text">
        <h3 class="smas__about-title">Что такое ультразвуковой SMAS-лифтинг?</h3>
        <div class="smas__about-description">
          SMAS-лифтинг — это современная методика безоперационной глубокой круговой подтяжки кожи лица. Технология произвела настоящую революцию в мире омоложения, ведь ранее воздействовать на SMAS-слой можно было только с помощью пластической хирургии: за последние 2 года спрос на SMAS-лифтинг вырос в 5 раз. Эффект нарастает с момента проведения в течение 6 месяцев и сохраняется на протяжении 2-3 лет.
        </div>
      </div>
    </div>
    <div class="smas__illustrations">
      <img src="img/content/smas-illustration-1.png" class="smas__illustration">
      <img src="img/content/smas-illustration-2.png" class="smas__illustration">
    </div>
    <div class="separator-wrapper">
      <img src="img/svg/separator.svg" class="separator">
    </div>
    <div class="smas__hipro">
      <p class="paragraph">
        В ассортименте нашей компании аппарат последнего поколения <a href="#">Hipro</a>. Главная отличительная черта  – высокая мощность до 2дж, что позволяет добиваться невероятных результатов при меньшем количестве линий:  250 – 300 линий на все лицо Full Face.<br><br>
        Меньшее количество линий для пациента означает комфортность по ощущениям и меньшую длительность по времени проведения. Для сравнения, на других аппаратах для SMAS-лифтинга можно добиться такого же эффекта при условии 600 – 800 линий.
      </p>
      <div class="smas__hipro-wrapper">
        <img src="img/content/smas-hipro.png" class="smas__hipro-img">
        <div class="smas__hipro-text">
          <h3 class="smas__hipro-title">HIPRO</h3>
          <div class="smas__hipro-description">
            один из лучших зарегистрированных аппаратов SMAS лифтинга на сегодняшний день и их мощность в совокупности с индивидуально подобранным датчиком дают WOW-эффект без перерасхода линий.
          </div>
          <h3 class="smas__hipro-list-title">Преимущества SMAS-лифтинга на аппарате <a href="">Hipro:</a></h3>
          <ul class="smas__hipro-list">
            <li class="smas__hipro-list-item">Альтернатива хирургической круговой подтяжке лица</li>
            <li class="smas__hipro-list-item">Проводится за один сеанс</li>
            <li class="smas__hipro-list-item">Минимальные болевые ощущения</li>
            <li class="smas__hipro-list-item">Выполняется за 30 — 40 минут</li>
            <li class="smas__hipro-list-item">Без реабилитации</li>
            <li class="smas__hipro-list-item">Эффект усиливается в течение 6 месяцев и сохраняется до 2-3 лет</li>
            <li class="smas__hipro-list-item">Низкая себестоимость процедуры за счет небольшого количества линий</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="smas__footer">
      <p class="paragraph">
        Аббревиатура SMAS (СМАС) обозначает поверхностную мышечно-апоневротическую систему тканей лица, покрывающие мышечный мимический слой. Эта система отвечает за поддержание мышечно-лицевого каркаса, благодаря чему черты лица остаются четкими, а кожа – упругой и подтянутой.
      </p>
      <div class="smas__footer-wrapper">
        <img src="img/content/smas-footer.png" class="smas__footer-img">
        <div class="smas__footer-text">
          <p class="paragraph">
            Сохранение тургора (упругости) и плотности кожи лица зависит от качества и количества коллагеновых волокон в дерме и SMAS-слое. С возрастом, а также в силу негативных внешних и внутренних факторов (вредные привычки, гормональные сбои, экология) кожа теряет значительную часть коллагена, из-за чего мягкие ткани под силой гравитации обвисают, появляются глубокие морщины. Для борьбы с этой проблемой была создана уникальная технология ультразвукового SMAS-лифтинга на аппарате <a href="#">Hipro</a>. Эта современная методика омоложения основана на ультразвуковых импульсах, воздействующих на клетки дермы и SMAS-слоя.<br><br>
            В результате точечной коагуляции ультразвуком мышечно-апоневротическая система сокращается в объеме, создавая эффект подтяжки лица. Параллельно с этим воздействие ультразвуковых волн на дерму стимулирует выработку собственного коллагена, благодаря чему эффект становится долгосрочным.
          </p>
          <h3 class="smas__footer-list-title">Моментальный лифтинг обеспечивается двумя факторами:</h3>
          <ul class="smas__footer-list">
            <li class="smas__footer-list-item">Уменьшением объема SMAS и перемещением ее вверх в результате точечной коагуляции</li>
            <li class="smas__footer-list-item">Сжатия и сокращения по длине коллагеновых волокон</li>
          </ul>
          <p class="paragraph">
            Благодаря низкой себестоимости процедуры и режимам DUAL и CONTINUES данная процедура прекрасно подходит не только для лифтинга лица, но и тела.
          </p>
          <a href="#">Подробнее об аппарате Hipro </a>
        </div>
      </div>
    </div>
  </div>
</section>


