<section class="support">
  <div class="container container--inner">
    <div class="support__header">
      У нас, Вы не просто покупаете аппарат с высокой скоростью окупаемости...
      <span class="support__header-strong">Мы обеспечиваем комплекс услуг для эффективной работы.</span>
    </div>
    <div class="separator-wrapper">
      <img src="img/svg/separator.svg" class="separator">
    </div>
    <div class="support__marketing section">
      <h2 class="support__marketing-title title-m">Маркетинговая поддержка</h2>
      <div class="section__description">
        При покупке оборудования, Вы получаете маркетинговую поддержку для ускоренного процесса возврата инвестиций:
      </div>
      <ul class="support__marketing-list">
        <li class="support__marketing-list-item">
          <img src="img/content/support-marketing-1.png" class="support__marketing-list-item-photo">
          <div class="support__marketing-list-item-text">
            <h3 class="support__marketing-list-item-title">Материалы, которые будут эффективны для продажи услуг на аппарате клиентам</h3>
            <div class="support__marketing-list-item-description">(тексты постов и креативы для размещения в социальных сетях)</div>
          </div>
        </li>
        <li class="support__marketing-list-item">
          <img src="img/content/support-marketing-2.png" class="support__marketing-list-item-photo">
          <div class="support__marketing-list-item-text">
            <h3 class="support__marketing-list-item-title">Профессиональные фото оборудования</h3>
            <div class="support__marketing-list-item-description">и процесса проведения процедуры</div>  
          </div>
        </li>
        <li class="support__marketing-list-item">
          <img src="img/content/support-marketing-3.png" class="support__marketing-list-item-photo">
          <div class="support__marketing-list-item-text">
            <h3 class="support__marketing-list-item-title">Профессиональные видео оборудования</h3>
            <div class="support__marketing-list-item-description">и процесса проведения процедуры </div>
          </div>
        </li>
        <li class="support__marketing-list-item">
          <img src="img/content/support-marketing-4.png" class="support__marketing-list-item-photo">
          <div class="support__marketing-list-item-text">
            <h3 class="support__marketing-list-item-title">Аудит Вашего сайта и социальных сетей </h3>
            <div class="support__marketing-list-item-description">любых мест позиционирования Вашего бизнеса в сети интернет (по запросу)</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="support__service section">
      <h2 class="support__service-title title-m">Сервисная поддержка</h2>
      <div class="section__description">
        В нашей компании любые работы проводит лицензированная сервисная служба. В штате сервисной службы состоят только высококвалифицированные инженеры, сертифицированные для работы со всем представленным медицинским оборудованием.
      </div>
      <div class="support__service-banner">
        Высокое качество обслуживания клиентов является одной из приоритетных ценностей компании Dr. ЭСТЕТИК TECHNOLOGIES
      </div>
      <ul class="support__service-list">
        <li class="support__service-list-item">
          <img src="img/content/support-service-1.png" class="support__service-list-item-img">
          <div class="support__service-list-item-description">
            Профильные специалисты Dr. ЭСТЕТИК TECHNOLOGIES, регулярно проходят обучение для повышения квалификации, в том числе в зарубежных обучающих стажировках на заводе компании-производителя.
          </div>
        </li>
        <li class="support__service-list-item">
          <img src="img/content/support-service-2.png" class="support__service-list-item-img">
          <div class="support__service-list-item-description">
            Оперативная реакция на вызов – одно из преимуществ работы нашей сервисной службы. Максимум в течение 48 часов с момента получения заявки на ремонт специалисты выезжают по указанному адресу эксплуатации независимо от территориального расположения. Также, они оказывают поддержку по телефону.
          </div>
        </li>
        <li class="support__service-list-item">
          <img src="img/content/support-service-3.png" class="support__service-list-item-img">
          <div class="support__service-list-item-description">
            Во время консультации с нашим менеджером отдела продаж, Вы сможете уточнить все детали, которые касаются услуг, идущих «по умолчанию» в комплекте с оборудованием!
          </div>
        </li>
      </ul>
    </div>
    <div class="support__education section">
      <h2 class="support__education-title title-m">Обучение</h2>
      <div class="support__education-card">
        <img src="img/content/support-education.png" class="support__education-card-photo">
        <div class="support__education-text">
          <h3 class="support__education-card-title">Обучение сотрудников – сильная сторона любой компании!</h3>
          <p class="support__education-card-description">Мы со всей ответственность подходим к этому процессу и проводим для наших клиентов профильное обучение различных форматов. Очное обучение, мастер-классы , онлайн вебинары, записи практикумов, профильные статьи и прочее</p>
          <div class="support__education-card-links">
            <a href="#" class="support__education-card-link btn">В раздел обучения</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>