<section class="use section">
  <div class="container">
    <h2 class="section__title title-m">Области применения</h2>
    <a href="#" class="section__more-link">Смотреть все</a>
    <div class="section__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="use__slide">
            <div class="use__slide-img-wrapper">
              <img src="img/content/use-1.png" class="use__slide-img">
            </div>
            <h3 class="use__slide-title">Лифтинг лица</h3>
            <p class="use__slide-description">
              SMAS-лифтинг — это современная методика безоперационной глубокой круговой подтяжки кожи лица.
            </p>
            <a href="#" class="use__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="use__slide">
            <div class="use__slide-img-wrapper">
              <img src="img/content/use-2.png" class="use__slide-img">
            </div>
            
            <h3 class="use__slide-title">Микроигольчатый радиочастотный лифтинг</h3>
            <p class="use__slide-description">
              Быстро окупаемый аппарат для вакуумно-игольчатого РФ-лифтинга
            </p>
            <a href="#" class="use__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="use__slide">
            <div class="use__slide-img-wrapper">
              <img src="img/content/use-3.png" class="use__slide-img">
            </div>
            
            <h3 class="use__slide-title">Неинвазивное аппаратное очищение</h3>
            <p class="use__slide-description">
              Диодный лазер последнего поколения для эпиляции и неабляционного омоложения любого фототипа
            </p>
            <a href="#" class="use__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="use__slide">
            <div class="use__slide-img-wrapper">
              <img src="img/content/use-4.png" class="use__slide-img">
            </div>
            
            <h3 class="use__slide-title">Лазерное омоложение</h3>
            <p class="use__slide-description">
              Фракционный СО2 лазер  для косметологии, гинекологии и хирургии без расходных материалов
            </p>
            <a href="#" class="use__slide-record btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="use__slide">
            <div class="use__slide-img-wrapper">
              <img src="img/content/use-5.png" class="use__slide-img">
            </div>
            
            <h3 class="use__slide-title">Удаление нежелательных волос </h3>
            <p class="use__slide-description">
              Аппарат для вакуумного гидропиллинга и интенсивного увлажнения и питания 
            </p>
            <a href="#" class="use__slide-record btn">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next">
          <svg class="swiper-navigation__btn-icon" width="46" height="46">
            <use xlink:href="#navigation-btn"></use>
          </svg>
        </button>
      </div>
      <button class="more-btn"></button>
    </div>
  </div>
</section>