<section class="welcome">
  <div class="container">
    <div class="banner swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner__slide">
            <img src="img/content/banner.png" class="banner__slide-img">
            <div class="banner__slide-text">
              <h2 class="banner__slide-title">MUST-HAVE аппараты1</h2>
              <div class="banner__slide-description">для косметологии и гинекологии с высокой скоростью окупаемости</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner__slide">
            <img src="img/content/banner.png" class="banner__slide-img">
            <div class="banner__slide-text">
              <h2 class="banner__slide-title">MUST-HAVE аппараты2</h2>
              <div class="banner__slide-description">для косметологии и гинекологии с высокой скоростью окупаемости</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="banner__slide">
            <img src="img/content/banner.png" class="banner__slide-img">
            <div class="banner__slide-text">
              <h2 class="banner__slide-title">MUST-HAVE аппараты3</h2>
              <div class="banner__slide-description">для косметологии и гинекологии с высокой скоростью окупаемости</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <form class="contact-form">
      <h3 class="contact-form__title">Оставьте заявку</h3>
      <input type="text" class="contact-form__input input" placeholder="Ваше Имя">
      <input type="tel" class="contact-form__input input" placeholder="Номер телефона">
      <button class="contact-form__submit btn btn--primary">Позвоните мне</button>
      <div class="contact-form__warning">«Нажимая кнопку, вы даете согласие на обработку персональных данных»</div>
      <a href="#" class="contact-form__download">
        <svg class="contact-form__download-icon" width="16" height="20">
          <use xlink:href="#icon-download"></use>
        </svg>
        Получить каталог
      </a>
    </form>
  </div>
</section>