<a href="#" class="whatsapp">
  <div class="container">
    <svg class="whatsapp__icon" width="30" height="30">
      <use xlink:href="#whatsapp"></use>
    </svg>
    <div class="whatsapp__text">
      Задайте вопрос или оставте номер телефона для связи в WhatsApp
      <svg class="whatsapp__text-bg" width="190" height="68">
        <use xlink:href="#bg-text"></use>
      </svg>
    </div>
    <svg class="whatsapp__chat" width="54" height="54">
      <use xlink:href="#chat"></use>
    </svg>
  </div>
</a>