[data-youtube] {
  width: 100%;
  height: 100%;

  img, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

a[data-youtube] {
  position: relative;
  display: block;

  &::before {
    content: url('../img/svg/icon-youtube.svg');
    @include adaptiveDesktopToMobile('width', 60, 30);
    @include adaptiveDesktopToMobile('height', 42, 21);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}